<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Viljavedu</title>
</head>
<body>
  <img src="banner/vp_banner_2024.png" alt="siin võiks mingi pilt olla">
  <h1>Karl Luberg</h1>
  <p>Viljavedu</p>
  <hr>
  <ul>
    <li><a href="/insert_truck_data">Andmete sisestamine</a></li>
    <li><a href="/summary_truck">Andmete vaatamine</a></li>
  </ul>

</body>
</html>